{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
</head>
<body>
    <h2>Welcome to Doctor Dashboard</h2>
    <p>Username: {{ request.user.username }}</p>
    <p>Email: {{ request.user.email }}</p>
    <p>First Name: {{ request.user.profile.first_name }}</p>
    <p>Last Name: {{ request.user.profile.last_name }}</p>
    <p>Address: {{ request.user.profile.address_line1 }}, {{ request.user.profile.city }}, {{ request.user.profile.state }}, {{ request.user.profile.pincode }}</p>
    <p><img src="{{ request.user.profile.profile_picture.url }}" alt="Profile Picture" width="100"></p>
</body>
</html>
